/* hover*/
.img-am{
    width: 60%;
    margin:auto;
    display:block;
    align-content: center;
    border: 8px solid #7C79A2;
}
.img-overlay{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F57D7C;
    text-align: center;
}
.img-tekst{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.img-container{
    position:relative;
}
.activity_img{
    width: 30%;
}
.img-container:hover .img-overlay{
    opacity: 0.6;
}
.horizontal_line{
    width: 60%;
    height: 3px;
}
.activity_text{
    padding: 0 10px;
}
/*list*/
.lijst{
  text-align: center;
  list-style: none;
  font-size: 15px;
}
/*info*/
.info{
  text-align: center;
  margin-bottom: 15px;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}
/*button*/
.button__holder {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button__holder:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .plus {
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    color: #1a1a1a;
    background: #F57D7C;
    border-radius: 50%;
    border: none;
    -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  }
  .plus:after {
    font-size: 2.5em;
    line-height: 1.1em;
  }
  .plus:hover {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 0 1px 15px #F8A4A3, 0 0 1px 30px #FABEBD, 0 0 1px 45px #FCD8D8;
  }
/*background*/
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6CC2BD 50%, #FEE4C4 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .lijst{
      font-size: 20px;
    }
   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .lijst{
      font-size: 20px;
    }
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }